.underline {
  border-bottom: 1px solid #000;
}

.MoviesRecordBox {
  display: flex;
  flex-direction: column;
  padding: 15px;

  .tableBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .movieBox {
      width: 100%;
      align-items: center;
      display: contents;
    }

    // 标题
    .movieTitleOl {
      display: flex;
      width: 80%;
      text-align: center;
      list-style: none;
      line-height: 50px;
      font-weight: bolder;
      text-shadow: 5px 5px 7px #7f7f7f;

      li {
        border-bottom: 1px solid #7f7f7f;
      }

      :nth-child(1), :nth-child(2), :nth-child(3) {
        width: 30%;
      }
      :nth-child(4) {
        width: 10%;
      }
      :nth-child(5) {
        width: 20%;
      }
    }

    // 子项
    .movieItemOl {
      display: flex;
      width: 80%;
      text-align: center;
      list-style: none;
      line-height: 50px;

      li {
        border-bottom: 1px solid #7f7f7f;
      }

      :nth-child(1), :nth-child(2), :nth-child(3) {
        width: 30%;
      }
      :nth-child(4) {
        width: 10%;
      }
      :nth-child(5) {
        width: 20%;
      }
    }
  }
}