.svgBoxContainer {
  position: relative;
  margin-bottom: 20px; // 底部外边距
  border-radius: 7px; // 圆角
  padding: 20px;
  box-shadow: #7f7f7f 1px 1px 10px; // 阴影

  .svgBox {
    overflow: scroll;
    height: 25vw;
  }

  .btnBox {
    position: absolute;
    right: 20px;
    bottom: 20px;

    :nth-of-type(1) {
      margin-right: 10px;
    }
  }
}