.RightAngleBadgeContainer {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 15px;
  padding: 3px 8px;
  background-color: #44CC11;
  color: #FFFFFF;
  font-size: small;
  font-weight: bold;
}